<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User Profile</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Live HeartBeat Monitor</a>
        
        <!-- Hamburger Icon for mobile -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
           
            
            <!-- Logout Button -->
            <form class="form-inline my-2 my-lg-0" action="/logout" method="post">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
            </form>
        </div>
    </nav>
<div class="container mt-5">
    <h2>Edit User Profile</h2>
    <form action="/updateProfile" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Name</label>
            <input type="text" class="form-control"  name="name" value="{{ userdetails.name }}" disabled>
            <input type="hidden" name="username" value="{{ userdetails.name }}">
        </div>
        <div class="mb-3">
            <label for="emergencycontactno" class="form-label">Emergency Contactno</label>
            <input type="text" class="form-control"  name="emergencycontactno" value="{{ userdetails.emergencycontactno }}">
        </div>

        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="text" class="form-control" name="age" value="{{ userdetails.age }}">
        </div>

        <label for="gender" class="form-label">Gender</label>
            <select class="form-select" name="gender">
                <option value="Male" {% if userdetails.gender == "Male" %} selected {% endif %}> Male</option>
                <option value="Female" {% if userdetails.gender  == "Female" %} selected {% endif %}> Female</option>
<!-- 
                {% for gender in genders %}
                <option value="{{gender}}">{{gender}}</option>
                {% endfor %} -->
             </select>
        <div>
            <button type="submit" class="btn btn-primary" >Save Changes</button>
            
        </div>
    </form>
</div>

<!-- onclick="saveProfileData('{{userdetails.id}}')" -->
<!-- Bootstrap and jQuery JS scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function saveProfileData(id) {
        // Use AJAX to send the ID to Flask
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/updateProfile', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function () {
            if (xhr.status === 200) {
                // Handle the response from the server if needed
                document.body.innerHTML=this.responseText;
            }
        };
        xhr.send(JSON.stringify({ id: id }));
    }
</script>