<!DOCTYPE html>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Live HeartBeat Monitor</a>
        
        <!-- Hamburger Icon for mobile -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
           
            
            <!-- Logout Button -->
            <form class="form-inline my-2 my-lg-0" action="/logout" method="post">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
            </form>
        </div>
    </nav>
    <a href="../templates/test.html" target="_blank">Visualize</a>
</body>
</html>